# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
# Binaries
*.exe
server/api/*.exe
server/api/ffmpeg
server/api/yt-dlp
backend-go/figo-download-api

# Download temp files
.downloads
